#name-input{
  margin-top: 15px;
  margin-bottom: 2px;
}
#name-Address,#name-Birthday,#name-Email,#name-IDCard,#name-Level,#name-Numberphone,#name-Partitive,#name-Position,#name-Salar,#name-Birthday1,#name-Numberphone1,
#name-Numberphone2,#name-Numberphone3,#name-Numberphone4{
  margin-top: 5px;
  margin-bottom: 2px;
}
