#name-input{
  margin-top: 15px;
  margin-bottom: 2px;
}
#name-Address,#name-Birthday,#name-Email,#name-IDCard,#name-Level,#name-Numberphone,#name-Partitive,#name-Position,#name-Salar,#name-Birthday1{
  margin-top: 5px;
  margin-bottom: 2px;
}
