<div class="bg-light border-light" id="sidebar-wrapper">
  <div class="sidebar-heading" id="hello-slide-bar"><a [routerLink]="['']" href=""><b>Hello Admin</b></a></div>
  <div class="list-group">
    <a href="#" [routerLink]="['customer-list']" class="list-group list-group-item"><b>Customer Management</b> </a>
    <a href="#" [routerLink]="['employee-list']" class="list-group list-group-item"><b>Employee Management</b> </a>
    <a href="#" [routerLink]="['service-list']" class="list-group list-group-item"><b>Service Management</b> </a>
    <a href="#"  [routerLink]="['contract-list']" class="list-group list-group-item"><b>Contract Management</b></a>
    <a href="#" [routerLink]="['contractDetail-list']" class="list-group list-group-item"><b>Detailed Contract Management</b></a>
  </div>
</div>
