<h2 style="margin-left: 40%">Add New Contract</h2>

<form class="w-50 mx-auto" [formGroup]="formAddNewContract">

  <div class="form-group">
    <p id="name-input"> Input ID Employee</p>
    <input type="text" class="form-control" formControlName="idEmployee">
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.idEmployee.errors?.required && formAddNewContract.controls.idEmployee.touched ">
      Input ID Employee!, Please!</p>
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.idEmployee.errors?.pattern && formAddNewContract.controls.idEmployee.touched ">
      Invalid ID Employee! Input ID Employee, Please</p>


    <p id="name-Position" class="form-custom"> Input ID Customer</p>
    <input type="text" class="form-control" formControlName="idCustomer">
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.idCustomer.errors?.required && formAddNewContract.controls.idCustomer.touched ">
      Input ID idCustomer, Please!</p>
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.idCustomer.errors?.pattern && formAddNewContract.controls.idCustomer.touched ">
      Invalid ID Customer! Input ID Customer, Please</p>


    <p id="name-Salar"> Input ID Service</p>
    <input type="text" class="form-control" formControlName="idService">
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.idService.errors?.required && formAddNewContract.controls.idService.touched ">
      Input ID Service, Please!</p>
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.idService.errors?.pattern && formAddNewContract.controls.idService.touched ">
      Invalid ID Service! Input ID Service, Please</p>


    <p id="name-Birthday"> Input Start Day Contract</p>

    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <input class="form-control" matInput [matDatepicker]="picker1" formControlName="starDateContract">
    <mat-datepicker #picker1></mat-datepicker>

<!--    <input type="date" class="form-control" formControlName="starDateContract">-->
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.starDateContract.errors?.required && formAddNewContract.controls.starDateContract.touched ">
      Input Start Day Contract, Please!</p>


    <p id="name-Birthday1"> Input End Date Contract</p>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <input class="form-control" matInput [matDatepicker]="picker" formControlName="endDateContract">
    <mat-datepicker #picker></mat-datepicker>

<!--    <input type="date" class="form-control" formControlName="endDateContract">-->
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.endDateContract.errors?.required && formAddNewContract.controls.endDateContract.touched ">
      Input End Date Contract, Please!</p>


    <p id="name-Numberphone"> Input Deposit Money</p>
    <input type="text" class="form-control" formControlName="depositMoney">
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.depositMoney.errors?.required && formAddNewContract.controls.depositMoney.touched ">
      Input Deposit Money, Please!</p>
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.depositMoney.errors?.pattern && formAddNewContract.controls.depositMoney.touched ">
      Invalid Deposit Money! Input Deposit Money, Please</p>


    <p id="name-Email"> Input Total Money</p>
    <input type="text" class="form-control" formControlName="totalMoney">
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.totalMoney.errors?.required && formAddNewContract.controls.totalMoney.touched ">
      Input Total Money, Please!</p>
    <p class="alert alert-danger text-danger"
       *ngIf="formAddNewContract.controls.totalMoney.errors?.pattern && formAddNewContract.controls.totalMoney.touched ">
      Invalid total money ! Input total money Again, Please</p>


  </div>
</form>
<div class="row d-flex justify-content-center">
  <button [disabled]="formAddNewContract.invalid" class="btn btn-success" type="submit" style="height: 36px"
          (click)="addNewContract()"
  >Complete
  </button>
</div>



